.add-product {
    border-radius: 10px;
    position: fixed;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 90%;
    background-color: rgb(145, 145, 145);
    z-index: 10;
}

.add-product input {
    position: relative;
    width: 300px;
    height: 40px;
    margin: 6px;
}

.add-product p {
    font-size: 22px;
    margin-left: 10px;
}

.add-product button {
    width: 60px;
    height: 34px;
}